opt/cross/libexec/gcc/i686-elf/6.2.0/cc1 filter=lfs diff=lfs merge=lfs -text
opt/cross/libexec/gcc/i686-elf/6.2.0/cc1plus filter=lfs diff=lfs merge=lfs -text
opt/cross/libexec/gcc/i686-elf/6.2.0/lto1 filter=lfs diff=lfs merge=lfs -text
